@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    padding: 0;
    margin: 0;
}

.outterCon {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #e3e9f3;
    justify-content: center;
    align-items: center;
}

.innerCon {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 8px gainsboro;
    overflow: hidden;
    position: relative;
}

.sideNav {
    height: 100%;
    width: 5rem;
    background-color: white;
    border-right: 1.8px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    .roundbtn {
        border: none;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 1px gray;
        margin-top: 2.5rem;
        color: white;
        font-size: 1.7rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            display: flex;
            height: 1rem;
            width: 1rem;
            border-radius: 100%;
            margin: 2.25rem 0;
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 8px gray;
            }
        }

        .selected {
            outline: 1.7px solid black;
        }
    }
}

.popUp {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(214, 214, 214, 0.692);
    width: 35rem;
    height: 28rem;
    position: absolute;
    border-radius: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: appear 0.35s ease-in-out;

    .controls {
        display: flex;
        width: 100%;
        justify-content: center;
        p {
            color: black;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            padding-bottom: 0.7rem;
            cursor: pointer;
        }

        button {
            background-color: rgb(0, 0, 0);
            border-radius: 15px;
            width: 8rem;
            height: 2.5rem;
            border: none;
            margin-left: 5rem;
            color: white;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;
        }
    }

    input,
    textarea {
        border: none;
        outline: none;
        width: 80%;
        border-bottom: 2px solid rgb(230, 230, 230);
        font-family: "Montserrat", sans-serif;
        padding: 0.25rem 0.5rem;
    }

    textarea {
        border-radius: 15px;
        border: 2px solid rgb(230, 230, 230);
        font-family: "Montserrat", sans-serif;
        padding: 0.5rem 0.5rem;
    }
}

.cardCon {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
}

.card {
    animation: appear 0.35s ease-in-out;
    height: 18rem;
    width: 16rem;
    border-radius: 15px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.7rem;
    box-sizing: border-box;

    h1,
    p {
        font-family: "Montserrat", sans-serif;
    }

    h1{
        font-size: 1.25rem;
    }

    p{
        font-size: 1rem;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
